.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.page-content {
  padding:16px;
}

.padding-16 {
  padding: 16px;
}
.answer-container {
   display: flex;
   justify-content: space-between;
}
.answer-input {
  flex:1;
  height:44px;
  font-size: 16px;
  padding-left:12px;
}
.submit-button { 
  margin-left:10px;
  height:48px;
  width:120px;
  background-color: #282c34;
  color:#fff;
  font-size:16px;
  border: none;
}
.submit-button:disabled {
  background-color: #ccc;
  color:#444;
}
.next-button {
  height:48px;
  width:120px;
  background-color: #1b7042;
  color:#fff;
  font-size:16px;
  border: none;
}
